<h3><%= @hospital.name %></h3>

<% @hospital.doctors.each do |doctor| %>
  <div id="doctor-<%= doctor.id%>">
    <p>name: <%= doctor.name %>total patients: <%= doctor.patient_count %></p>
    <p>specialty: <%= doctor.specialty %></p>
    <p>education: <%= doctor.university %></p>

  </div>
  <% end %>
